asgiref==3.4.1
certifi==2021.10.8
charset-normalizer==2.0.12
cryptography==36.0.2
datapunt-keycloak-oidc==0.5.1
Django==3.2.7
django-ckeditor==6.1.0
django-js-asset==2.0.0
ecdsa==0.17.0
idna==3.3
josepy==1.13.0
mozilla-django-oidc==1.2.4
pyasn1==0.4.8
pycparser==2.21
pyOpenSSL==22.0.0
python-dateutil==2.8.2
python-jose==3.3.0
python-keycloak==0.27.0
pytz==2021.1
requests==2.26.0
rsa==4.8
six==1.16.0
sqlparse==0.4.1
typing-extensions==3.10.0.2
tzdata==2022.1
urllib3==1.26.9
