{% extends 'frontend/header.html' %}
{% load tags %}

{% block body %}
{% include 'frontend/alert-messages.html' %}
{% if action == "extensions" %}
<div class="col-sm-12">
	<div class="card">
		<div class="card-body">
			<div class="d-flex justify-content-end mb-3"><button class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#addExtensionModal">Add Extension</button></div>
			<div class="table-responsive p-1">
				<table class="table table-hover table-sm datatable">
					<thead>
					<tr class="text-center">
						<th>No.</th>
						<th>Name</th>
						<th>Created by</th>
						<th>Date Created</th>
						<th>Updated by</th>
						<th>Date Updated</th>
						<th>Status</th>
						<th>Actions</th>
					</tr>
					</thead>
					<tbody>
					{% for row in data %}
					<tr>
						<td class="text-center">{{row.id}}</td>
						<td class="text-center">{{row.name}}</td>
						<td class="text-center">{% get_user_by row.created_by.id %}</td>
						<td class="text-center">{{row.date_created}}</td>
						<td class="text-center">{% get_user_by row.updated_by.id %}</td>
						<td class="text-center">{% get_date row.date_updated %}</td>
						{% get_status_icon row.status %}
						<td>
							<div class="d-flex justify-content-center">
								<a href="{% url 'backend-extensions-page' action='update' pk=row.id%}" class="text-decoration-none text-danger"><i class="fa fa-edit f-18"></i></a>
							</div>
						</td>
					</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
{% elif action == "update_extension" %}
<div class="col-sm-12">
	<div class="card">
		<form id="updateExtensionForm" class="updateForm" method="POST" action="{% url 'backend-extensions-page' action='update' pk=data.id%}">
			<div class="card-body">
				{% csrf_token %}
				<div class="mb-3 row">
					<label class="col-sm-3 col-form-label">Name <i style="color:#dc3545;">*</i></label>
					<div class="col-sm-9">
						{{form.name}}
					</div>
				</div>
				<div class="mb-3 row">
					<label class="col-sm-3 col-form-label">Status <i style="color:#dc3545;">*</i></label>
					<div class="col-sm-9">
						{{form.status}}
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<a href="{% url 'backend-extensions-page' %}" class="btn btn-secondary">Back</a>
				<button class="btn btn-primary" type="submit">Update</button>
			</div>
		</form>
	</div>
</div>
{% endif %}
{% endblock %}