{% load tags %}
<div class="card p-4">
   <div class="d-flex justify-content-end mb-3">
      <button class="btn btn-success" onClick="addRecordButton('{{acronym}}')">Add Record</button>
      &nbsp;&nbsp;
      <a class="btn btn-primary cursor-pointer" onClick="generateReportButton('{{filters}}')">Generate Report</a>
   </div>
   <div class="table-responsive">
      <table class="table table-bordered" style="width:100%">
         <thead>
            <tr class="text-center">
               <th>Actions</th>
               <th>Name</th>
               <th>Address</th>
               <th>Status</th>
               <th>Control No.</th>
               <th>Date Issued</th>
               <th>Date Expiry</th>
            </tr>
         </thead>
         <tbody>
            {% for row in data %}
            <tr>
               <td class="text-center"><a class="cursor-pointer" onClick="viewRecordModal('{{acronym}}', {{row.id}});">View</a></td>
               <td class="text-center">{{row.name}}</td>
               <td class="text-center">{{row.get_address}}</td>
               <td class="text-center">{{row.get_org_transaction_accreditation.transaction.status.name}}</td>
               <td class="text-center bg-{{row.get_org_transaction_accreditation.transaction.get_color}}">{% if row.get_org_transaction_accreditation %} {{row.get_org_transaction_accreditation.transaction.get_license.number}} {% endif %}</td>
               <td class="text-center bg-{{row.get_org_transaction_accreditation.transaction.get_color}}">{% if row.get_org_transaction_accreditation %} {{row.get_org_transaction_accreditation.transaction.get_license.date_issued}} {% endif %}</td>
               <td class="text-center bg-{{row.get_org_transaction_accreditation.transaction.get_color}}">{% if row.get_org_transaction_accreditation %} {{row.get_org_transaction_accreditation.transaction.get_license.date_expired}} {% endif %}</td>
            </tr>
            {% endfor %}
         </tbody>
      </table>
   </div>
   <div class="d-flex justify-content-between">
      {% if data.has_other_pages %}
      <label class="mt-3">{% if data %} Showing {{ data.start_index }} - {{ data.end_index }} of {{ data.paginator.count }} entr{{ data.paginator.count|pluralize:"y,ies" }} {% else %} No entry {% endif %}</label>
      <ul class="pagination pagination-primary mt-2 d-flex justify-content-end">
         <li class="page-item"><a class="page-link {% if not data.has_previous %} disabled {% else %} cursor-pointer {% endif %}" {% if data.has_previous %} href="{% url 'frontend-records' acronym='cso' %}?page={{ data.previous_page_number }}" {% endif %}tabindex="-1">Previous</a></li>
         {% for row in data.paginator.page_range %}
         {% if data.number == row %}
         <li class="page-item active"><a style="cursor:pointer" class="page-link" {% if data.has_next %} href="{% url 'frontend-records' acronym='cso' %}?page={{ row }}" {% elif data.has_previous %} href="{% url 'frontend-records' acronym='cso' %}?page={{ row }}" {% else %} href="{% url 'frontend-records' acronym='cso' %}?page={{ row }}" {% endif %} >{{row}}</a></li>
         {% else %}
         <li class="page-item"><a style="cursor:pointer" class="page-link" {% if data.has_next %} href="{% url 'frontend-records' acronym='cso' %}?page={{ row }}" {% elif data.has_previous %} href="{% url 'frontend-records' acronym='cso' %}?page={{ row }}" {% else %} href="{% url 'frontend-records' acronym='cso' %}?page={{ row }}" {% endif %} >{{row}}</a></li>
         {% endif %}
         {% endfor %}
         <li class="page-item"><a class="page-link {% if not data.has_next %} disabled {% else %} cursor-pointer {% endif %}" {% if data.has_next %} href="{% url 'frontend-records' acronym='cso' %}?page={{ data.next_page_number }}" {% endif %}>Next</a></li>
      </ul>
      {% endif %}
   </div>
</div>