<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        @page {
            size: Legal landscape;
            margin-top: 1cm !important;
        }

        @media print {
            body {  
                margin-top: 1cm !important;
            }
        }

        .header {
            text-align: center;
            margin-top: 1px;
        }

        .form {
            margin-top: 1px;
            text-align: right;
        }

        table,
        tbody {
            page-break-inside: auto;
        }

        tr {
            page-break-inside: avoid;
            page-break-after: auto;
        }

    </style>
</head>

<body>
    <div class="container-fluid">
        <page>
            <div class="content">
                <p class="form"></p>
                <br>
                <div class="header">
                    <label>MASTERLIST OF REGISTERED, LICENSED AND ACCREDITED SOCIAL WELFARE AGENCIES (SWAs) AND RESOURCE AGENCIES PROVIDING DIRECT SERVICES</label>
                    <br>
                    <label><b> 2nd Quarter 2021</b></label>
                    <br>
                    <label>FIELD OFFICE: <label class="text-underline">CARAGA</label></label>
                </div>
                <br>
                <label>Province/City: <label class="text-underline">AGUSAN DEL NORTE/CITIES OF BUTUAN & CABADBARAN</label></label>
                    <table class="table table-bordered text-center" style="border: 1px solid black;">
                        <tr>
                            <th rowspan="2" class="text-wrap" style="width: 4rem; text-align: center;">Name of Agency</th>
                            <th rowspan="2" class="text-wrap" style="width: 4rem; text-align: center;">Office Address</th>
                            <th rowspan="2" class="text-wrap" style="width: 4rem; text-align: center;">Email Address</th>
                            <th rowspan="2" class="text-wrap" style="width: 4rem; text-align: center;">Contact Number</th>
                            <th rowspan="2" class="text-wrap" style="width: 4rem; text-align: center;">Contact Person</th>
                            <th rowspan="2" class="text-wrap" style="width: 4rem; text-align: center;">Designation / Position</th>
                            <th colspan="3" class="text-wrap" style="width: 4rem; text-align: center;">Type of SWAS</th>
                            <th colspan="2" class="text-wrap" style="width: 4rem; text-align: center;">Program and Services</th>
                            <th rowspan="2" class="text-wrap" style="width: 4rem; text-align: center;">Clientele</th>
                            <th rowspan="2" class="text-wrap" style="width: 4rem; text-align: center;">Areas of Operation</th>
                            <th colspan="3" class="text-wrap" style="width: 4rem; text-align: center;">Registration and License</th>
                            <th colspan="4" class="text-wrap" style="width: 4rem; text-align: center;">Accreditation</th>
                        </tr>
                        <tr>
                            <th class="text-wrap" style="width: 4rem; text-align: center;">RSD'L</th>
                            <th class="text-wrap" style="width: 4rem; text-align: center;">Community Based</th>
                            <th class="text-wrap" style="width: 4rem; text-align: center;">Child Placement</th>
                            <th class="text-wrap" style="width: 4rem; text-align: center;">Resindential Based</th>
                            <th class="text-wrap" style="width: 4rem; text-align: center;">Community Based</th>
                            <th class="text-wrap" style="width: 4rem; text-align: center;">No.</th>
                            <th class="text-wrap" style="width: 4rem; text-align: center;">Date Issued</th>
                            <th class="text-wrap" style="width: 4rem; text-align: center;">Date Expiration</th>
                            <th class="text-wrap" style="width: 4rem; text-align: center;">No.</th>
                            <th class="text-wrap" style="width: 4rem; text-align: center;">Date Issued</th>
                            <th class="text-wrap" style="width: 4rem; text-align: center;">Date Expiration</th>
                            <th class="text-wrap" style="width: 4rem; text-align: center;">Prog's Accredited</th>
                        </tr>
                        <tbody>
                            <tr>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                            </tr>
                            <tr>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                            </tr>
                            <tr>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                            </tr>
                            <tr>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                            </tr>
                            <tr>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                            </tr>
                            <tr>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                            </tr>
                            <tr>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                            </tr>
                            <tr>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                            </tr>
                            <tr>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                            </tr>
                            <tr>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                            </tr>
                            <tr>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                            </tr>
                            <tr>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                            </tr>
                            <tr>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                            </tr>
                            <tr>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                                <td>none of this quarter</td>
                            </tr>
                        </tbody>
                    </table>
                <br>
                <div class="footer" contenteditable="true">
                    <div>
                        <p>Prepared By:</p>
                        <br>
                        <label><b>ARCHIE D. TURTUR, PDO-III</b></label>
                        <p>STANDARDS SECTION HEAD</p>
                    </div>
                    <div style="margin-left: 500px; margin-top: -125px;">
                        <p>Noted By:</p>
                        <br>
                        <label><b>ALDIE MAE A. ANDOY, SWO IV</b></label>
                        <p>STANDARDS SECTION HEAD</p>
                    </div>
                    <div style="margin-left: 1000px; margin-top: -127px;">
                        <p>Approved By:</p>
                        <br>
                        <label><b>RAMEL F. JAMEN</b></label>
                        <p>OIC- REGIONAL DIRECTOR</p>
                    </div>
                </div>
            </div>
        </page>
    </div>
</body>

</html>