<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Annex-A</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        @page {
            size: Legal landscape;
            margin-top: 1cm !important;
        }

        @media print {
            body {
                margin-top: 1cm !important;
            }
        }

        .header {
            text-align: center;
            margin-top: 10px;
        }

        .form {
            margin-top: 10px;
            text-align: right;
        }

        table,
        tbody {
            page-break-inside: auto;
        }

        tr {
            page-break-inside: avoid;
            page-break-after: auto;
        }
    </style>
</head>

<body>
    <div class="container-fluid">
        <page>
            <div class="content">
                <p class="form">Annex-A</p>
                <br>
                <div class="header">
                    <label>Inventory of Monitored Organizations</label>
                    <br>
                    <label><b> 2nd Quarter 2021</b></label>
                    <br>
                    <label>FIELD OFFICE: <label class="text-underline">CARAGA</label></label>
                </div>
                <br>
                <div>
                    <table class="table table-bordered text-center" style="border: 1px solid black;">
                        <tr>
                            <th colspan="7" class="text-wrap" style="width: 4rem; text-align: center;">Information of the Monitored Organization without Registration ® and/or License(L) with DSWD</th>
                            <th colspan="3" class="text-wrap" style="width: 4rem; text-align: center;">ABSNET Monitoring Activities to those Organizations without RL</th>
                            <th rowspan="1" class="text-wrap" style="width: 4rem; text-align: center;">Status of DSWD RL of monitored Organizations</th>
                            <th colspan="1" class="text-wrap" style="width: 4rem; text-align: center;">Remarks</th>
                        </tr>
                        <tr>
                            <th class="text-wrap" style="width: 4rem; text-align: center;">Name of Organizations</th>
                            <th class="text-wrap" style="width: 4rem; text-align: center;">Contact Person & Designation</th>
                            <th class="text-wrap" style="width: 4rem; text-align: center;">Address</th>
                            <th class="text-wrap" style="width: 4rem; text-align: center;">Contact Number & Email Address</th>
                            <th class="text-wrap" style="width: 4rem; text-align: center;">Purpose of the Organizations (as indicated in its SEC Registration)</th>
                            <th class="text-wrap" style="width: 4rem; text-align: center;">Target Clientele</th>
                            <th class="text-wrap" style="width: 4rem; text-align: center;">Programs and Services</th>
                            <th class="text-wrap" style="width: 4rem; text-align: center;">Date of Activities conducted</th>
                            <th class="text-wrap" style="width: 4rem; text-align: center;">Activities Conducted</th>
                            <th class="text-wrap" style="width: 4rem; text-align: center;">Actions Provided to the Organizations</th>
                            <th class="text-wrap" style="width: 4rem; text-align: center;"></th>
                            <th class="text-wrap" style="width: 4rem; text-align: center;"></th>
                        </tr>
                        <tbody>
                            <tr>
                                <td>None of this Quarter</td>
                                <td>None of this Quarter</td>
                                <td>None of this Quarter</td>
                                <td>None of this Quarter</td>
                                <td>None of this Quarter</td>
                                <td>None of this Quarter</td>
                                <td>None of this Quarter</td>
                                <td>None of this Quarter</td>
                                <td>None of this Quarter</td>
                                <td>None of this Quarter</td>
                                <td>None of this Quarter</td>
                                <td>None of this Quarter</td>
                            </tr>
                            <tr>
                                <td>None of this Quarter</td>
                                <td>None of this Quarter</td>
                                <td>None of this Quarter</td>
                                <td>None of this Quarter</td>
                                <td>None of this Quarter</td>
                                <td>None of this Quarter</td>
                                <td>None of this Quarter</td>
                                <td>None of this Quarter</td>
                                <td>None of this Quarter</td>
                                <td>None of this Quarter</td>
                                <td>None of this Quarter</td>
                                <td>None of this Quarter</td>
                            </tr>
                            <tr>
                                <td>None of this Quarter</td>
                                <td>None of this Quarter</td>
                                <td>None of this Quarter</td>
                                <td>None of this Quarter</td>
                                <td>None of this Quarter</td>
                                <td>None of this Quarter</td>
                                <td>None of this Quarter</td>
                                <td>None of this Quarter</td>
                                <td>None of this Quarter</td>
                                <td>None of this Quarter</td>
                                <td>None of this Quarter</td>
                                <td>None of this Quarter</td>
                            </tr>
                            <tr>
                                <td>None of this Quarter</td>
                                <td>None of this Quarter</td>
                                <td>None of this Quarter</td>
                                <td>None of this Quarter</td>
                                <td>None of this Quarter</td>
                                <td>None of this Quarter</td>
                                <td>None of this Quarter</td>
                                <td>None of this Quarter</td>
                                <td>None of this Quarter</td>
                                <td>None of this Quarter</td>
                                <td>None of this Quarter</td>
                                <td>None of this Quarter</td>
                            </tr>
                            <tr>
                                <td>None of this Quarter</td>
                                <td>None of this Quarter</td>
                                <td>None of this Quarter</td>
                                <td>None of this Quarter</td>
                                <td>None of this Quarter</td>
                                <td>None of this Quarter</td>
                                <td>None of this Quarter</td>
                                <td>None of this Quarter</td>
                                <td>None of this Quarter</td>
                                <td>None of this Quarter</td>
                                <td>None of this Quarter</td>
                                <td>None of this Quarter</td>
                            </tr>
                            <tr>
                                <td>None of this Quarter</td>
                                <td>None of this Quarter</td>
                                <td>None of this Quarter</td>
                                <td>None of this Quarter</td>
                                <td>None of this Quarter</td>
                                <td>None of this Quarter</td>
                                <td>None of this Quarter</td>
                                <td>None of this Quarter</td>
                                <td>None of this Quarter</td>
                                <td>None of this Quarter</td>
                                <td>None of this Quarter</td>
                                <td>None of this Quarter</td>
                            </tr>
                            <tr>
                                <td>None of this Quarter</td>
                                <td>None of this Quarter</td>
                                <td>None of this Quarter</td>
                                <td>None of this Quarter</td>
                                <td>None of this Quarter</td>
                                <td>None of this Quarter</td>
                                <td>None of this Quarter</td>
                                <td>None of this Quarter</td>
                                <td>None of this Quarter</td>
                                <td>None of this Quarter</td>
                                <td>None of this Quarter</td>
                                <td>None of this Quarter</td>
                            </tr>
                            <tr>
                                <td>None of this Quarter</td>
                                <td>None of this Quarter</td>
                                <td>None of this Quarter</td>
                                <td>None of this Quarter</td>
                                <td>None of this Quarter</td>
                                <td>None of this Quarter</td>
                                <td>None of this Quarter</td>
                                <td>None of this Quarter</td>
                                <td>None of this Quarter</td>
                                <td>None of this Quarter</td>
                                <td>None of this Quarter</td>
                                <td>None of this Quarter</td>
                            </tr>
                            <tr>
                                <td>None of this Quarter</td>
                                <td>None of this Quarter</td>
                                <td>None of this Quarter</td>
                                <td>None of this Quarter</td>
                                <td>None of this Quarter</td>
                                <td>None of this Quarter</td>
                                <td>None of this Quarter</td>
                                <td>None of this Quarter</td>
                                <td>None of this Quarter</td>
                                <td>None of this Quarter</td>
                                <td>None of this Quarter</td>
                                <td>None of this Quarter</td>
                            </tr>
                            <tr>
                                <td>None of this Quarter</td>
                                <td>None of this Quarter</td>
                                <td>None of this Quarter</td>
                                <td>None of this Quarter</td>
                                <td>None of this Quarter</td>
                                <td>None of this Quarter</td>
                                <td>None of this Quarter</td>
                                <td>None of this Quarter</td>
                                <td>None of this Quarter</td>
                                <td>None of this Quarter</td>
                                <td>None of this Quarter</td>
                                <td>None of this Quarter</td>
                            </tr>
                            <tr>
                                <td>None of this Quarter</td>
                                <td>None of this Quarter</td>
                                <td>None of this Quarter</td>
                                <td>None of this Quarter</td>
                                <td>None of this Quarter</td>
                                <td>None of this Quarter</td>
                                <td>None of this Quarter</td>
                                <td>None of this Quarter</td>
                                <td>None of this Quarter</td>
                                <td>None of this Quarter</td>
                                <td>None of this Quarter</td>
                                <td>None of this Quarter</td>
                            </tr>
                            <tr>
                                <td>None of this Quarter</td>
                                <td>None of this Quarter</td>
                                <td>None of this Quarter</td>
                                <td>None of this Quarter</td>
                                <td>None of this Quarter</td>
                                <td>None of this Quarter</td>
                                <td>None of this Quarter</td>
                                <td>None of this Quarter</td>
                                <td>None of this Quarter</td>
                                <td>None of this Quarter</td>
                                <td>None of this Quarter</td>
                                <td>None of this Quarter</td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
                <br>
                <div class="footer" contenteditable="true">
                    <div>
                        <p>Prepared By:</p>
                        <br>
                        <label><b>ARCHIE D. TURTUR, PDO-III</b></label>
                        <P>STANDARDS SECTION HEAD</P>
                    </div>
                    <div style="margin-left: 500px; margin-top: -127px;">
                        <p>Noted By:</p>
                        <br>
                        <label><b>ALDIE MAE A. ANDOY, SWO IV</b></label>
                        <P>STANDARDS SECTION HEAD</P>
                    </div>
                    <div style="margin-left: 1000px; margin-top: -125px;">
                        <p>Approved By:</p>
                        <br>
                        <label><b>RAMEL F. JAMEN</b></label>
                        <P>OIC- REGIONAL DIRECTOR</P>
                    </div>
                </div>
            </div>
        </page>
    </div>
</body>

</html>