<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <title>SB-FORM-001-B Report</title>
   <style>
      .header {
         text-align: center;
         margin-top: 10px;
      }

      .form {
         margin-top: 10px;
         text-align: right;
         
      }
      
   </style>

   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" S>


</head>

<body onload="window.print()">
   <page size="legal" layout="portrait">
      <div class="content p-2">
         <p class="form">SB-FORM-009-B</p>
         <br>
         <div class="header">
            <label class="break">UPDATED LIST OF SOCIAL WORK AGENCIES AND SOCIAL WELFARE & DEVELOPMENT AGENCIES </label>
            <br>
            <label><b>AS OF {{quarter}} Quarter CY {{year}}</b></label>
            <br>
            <label>FIELD OFFICE: <u>CARAGA</u></label>
         </div>
         <br>
         <div>
            <h5>VALID RL UNTIL 2023- 3  VALID RL UNTIL 2024 2025: 13  VALID RL/A: 22</h5>
            <table class="table table-bordered text-center">
               <tr>
                  <th rowspan="2" class="text-wrap" style="width: 4rem;">No. </th>
                  <th rowspan="2" class="text-wrap" style="width: 4rem;">Name of Agency/Address /Tel-Fax Nos. (1)</th>
                  <th rowspan="2" class="text-wrap" style="width: 4rem;">Contact Person (2)</th>
                  <th rowspan="2" class="text-wrap" style="width: 4rem;">Registration # /Date Issued (3)</th>
                  <th rowspan="2" class="text-wrap" style="width: 4rem;">License # /Date Issued (4)</th>
                  <th rowspan="2" class="text-wrap" style="width: 4rem;">Accrditation # / Date Issued (5)</th>
                  <th rowspan="2" class="text-wrap" style="width: 4rem;">Programs and Services (6)</th>
                  <th colspan="2" class="text-wrap" style="width: 4rem;">Classifications</th>
                  <th rowspan="2" class="text-wrap" style="width: 4rem;">Clientele Served</th>
                  <th rowspan="2" class="text-wrap" style="width: 4rem;">Service Delivery Mode (8)</th>
                  <th rowspan="2" class="text-wrap" style="width: 4rem;">Bed Capacity</th>
                  <th rowspan="2" class="text-wrap" style="width: 4rem;">Area/s of Operation (9)</th>
                  <th rowspan="2" class="text-wrap" style="width: 4rem;">Remarks (10)	</th>
                  <th class="text-wrap" style="width: 4rem;">Profile of Employees</th>
                  <th colspan="3" class="text-wrap" style="width: 4rem;">Profile of Clients (Residential based only)</th>
                  <th rowspan="2" class="text-wrap" style="width: 4rem;">1st Notice</th>
                  <th rowspan="2" class="text-wrap" style="width: 4rem;">2nd Notice</th>
                  <th rowspan="2" class="text-wrap" style="width: 4rem;">3rd Notice</th>
                  <th colspan="2" class="text-wrap" style="width: 4rem;">ATTENDANCE</th>
                  <th colspan="3" class="text-wrap" style="width: 4rem;">ACCOMPLISHMENT REPORT (submitted to FO)</th>
                  <th rowspan="2" class="text-wrap" style="width: 4rem;">Monitoring 2021</th>
                  <th rowspan="2" class="text-wrap" style="width: 4rem;">Remarks</th>
                  <th rowspan="2" class="text-wrap" style="width: 4rem;">Monitoring 2022</th>
                  <th rowspan="2" class="text-wrap" style="width: 4rem;">Remarks</th>
                  <th rowspan="2" class="text-wrap" style="width: 4rem;">Monitoring 2023</th>
                  <th rowspan="2" class="text-wrap" style="width: 4rem;">Remarks</th>
               </tr>
               <tr>
                  <!-- Classifications -->
                  <th class="text-wrap" style="width: 4rem;"> SWA</th>
                  <th class="text-wrap" style="width: 4rem;"> Auxiliary</th>
                  <!-- Profile of Employees -->
                  <th class="text-wrap" style="width: 4rem;"> No. of Staff</th>
                  <!-- Profile of Client (Residential Based Only) -->   
                  <th class="text-wrap" style="width: 4rem;"> Male</th>
                  <th class="text-wrap" style="width: 4rem;"> Female</th>
                  <th class="text-wrap" style="width: 4rem;"> Total</th>                      
                  <!-- ATTENDANCE -->
                  <th class="text-wrap" style="width: 4rem;"> 1st Semester ABSNET MEETING</th>
                  <th class="text-wrap" style="width: 4rem;"> 2nd Semester ABSNET MEETING</th>
                  <!-- ACCOMPLISHMENT REPORT (submitted to FO) -->   
                  <th class="text-wrap" style="width: 4rem;"> 2021</th>
                  <th class="text-wrap" style="width: 4rem;"> 2022</th>
                  <th class="text-wrap" style="width: 4rem;"> 2023</th> 
               </tr>
               <tbody>
                  <th colspan="32" style="text-align: left;background-color: slategray;">Registered and Licensed SWDAs</th>
                  <tr>
                     <td>None of this quarter</td>
                     <td>None of this quarter</td>
                     <td>None of this quarter</td>
                     <td>None of this quarter</td>
                     <td>None of this quarter</td>
                     <td>None of this quarter</td>
                     <td>None of this quarter</td>
                     <td>None of this quarter</td>
                     <td>None of this quarter</td>
                     <td>None of this quarter</td>
                     <td>None of this quarter</td>
                     <td>None of this quarter</td>
                     <td>None of this quarter</td>
                     <td>None of this quarter</td>
                     <td>None of this quarter</td>
                     <td>None of this quarter</td>
                     <td>None of this quarter</td>
                     <td>None of this quarter</td>
                     <td>None of this quarter</td>
                     <td>None of this quarter</td>
                     <td>None of this quarter</td>
                     <td>None of this quarter</td>
                     <td>None of this quarter</td>
                     <td>None of this quarter</td>
                     <td>None of this quarter</td>
                     <td>None of this quarter</td>
                     <td>None of this quarter</td>
                     <td>None of this quarter</td>
                     <td>None of this quarter</td>
                     <td>None of this quarter</td>
                     <td>None of this quarter</td>
                     <td>None of this quarter</td>
                  </tr>
               </tbody>
            </table>
            <p style="page-break-before: always;"></p>
            <p style="text-align:center">Prepared by:&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
               &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
               &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Noted by:&nbsp;
               &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
               &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
               &nbsp; &nbsp; &nbsp; Approved by:</p>

            <p style="text-align:center">&nbsp;</p>

            <p style="text-align:center"><strong>ARCHIE D. TURTUR, PDO III</strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
               &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
               &nbsp; &nbsp; <strong>ALDIE MAE. ANDOY, SWO IV&nbsp;</strong> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
               &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<strong>MARI-FLOR A. DOLLAGA - LIBANG</strong></p>

            <p style="text-align:center">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; STANDARDS SECTION HEAD&nbsp;
               &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
               &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;OIC-CHIEF, PPD&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
               &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
               &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; REGIONAL DIRECTOR</p>
         </div>
      </div>
   </page>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>