{% load tags %}
{% if acronym == 'pmc' %}
<script>
   $('#pmc_datatable').DataTable();
   $('table.pmc_datatable tbody').on('click', 'tr', function() {
     const table = $('table.pmc_datatable').DataTable();
     let data = table.row(this).data()
     $('#viewRecordModal').modal('show');
     $('#viewRecordModalContent').empty();
     $('#viewRecordModalContent').load(`/dashboard/view_record/pmc/view/${data[0]}`);
   });

   $("#viewRecordModal").on("hide.bs.modal", function (e) {
        $("#province").select2("destroy");
        $("#citymun").select2("destroy");
        $("#barangay").select2("destroy");
    });
</script>
<div class="table-responsive">
   <table class="table table-bordered table-sm pmc_datatable" style="width:100%" id="pmc_datatable">
      <thead>
         <tr class="text-center text-uppercase">
            <th>No.</th>
            <th>Name</th>
            <th>Age</th>
            <th>Gender</th>
            <th>Civil Status</th>
            <th>Educational Attainment</th>
            <th>No. Of Years as PMC</th>
            <th>Present Position</th>
            <th>Agency</th>
            <th>Address</th>
            <th>Province</th>
            <th>Date Assessed</th>
            <th>Date Complete Docs</th>
            <th>Accreditation Number</th>
            <th>Date Issued</th>
            <th>Date Expired</th>
            <th>Not Issued</th>
            <th>No. of Days Acted Upon</th>
            <th>Status</th>
            <th>Remarks</th>
         </tr>
      </thead>
      <tbody>
         {% for row in data %}
         <tr class="text-center">
            <td>{{row.id}}</td>
            <td>{{row.get_worker_fullname}}</td>
            <td>{% get_worker_details_by_name 'Age' row.org_type_id row.id %}</td>
            <td>{{row.get_sex}}</td>
            <td>{% get_worker_details_by_name 'Civil Status' row.org_type_id row.id %}</td>
            <td>{% get_worker_details_by_name 'Educational Attainment' row.org_type_id row.id %}</td>
            <td>{% get_worker_details_by_name 'No. of years as PMC' row.org_type_id row.id %}</td>
            <td>{% get_worker_details_by_name 'Present Position' row.org_type_id row.id %}</td>
            <td>{% get_worker_details_by_name 'Agency' row.org_type_id row.id %}</td>
            <td>{% if row.address and row.address != "None" %} {{row.address}} {% endif %}</td>
            <td>{% if row.province and row.province != "None" %} {{row.province}} {% endif %}</td>
            <td>{% if row.get_worker_transaction_accreditation.transaction.date_assessed and row.get_worker_transaction_accreditation.transaction.date_assessed != "None" %} {{row.get_worker_transaction_accreditation.transaction.date_assessed}} {% endif %}</td>
            <td>{% if row.get_worker_transaction_accreditation.transaction.date_complete_docs and row.get_worker_transaction_accreditation.transaction.date_complete_docs != "None" %} {{row.get_worker_transaction_accreditation.transaction.date_complete_docs}} {% endif %}</td>
            <td class="bg-{{row.get_worker_transaction_accreditation.transaction.get_color}}">{% if row.get_worker_transaction_accreditation and row.get_worker_transaction_accreditation.transaction.get_license %} {{row.get_worker_transaction_accreditation.transaction.get_license.number}} {% endif %}</td>
            <td class="bg-{{row.get_worker_transaction_accreditation.transaction.get_color}}">{% if row.get_worker_transaction_accreditation and row.get_worker_transaction_accreditation.transaction.get_license %} {{row.get_worker_transaction_accreditation.transaction.get_license.date_issued}} {% endif %}</td>
            <td class="bg-{{row.get_worker_transaction_accreditation.transaction.get_color}}">{% if row.get_worker_transaction_accreditation and row.get_worker_transaction_accreditation.transaction.get_license %} {{row.get_worker_transaction_accreditation.transaction.get_license.date_expired}} {% endif %}</td>
            <td></td>
            <td></td>
            <td class="bg-{{row.get_worker_transaction_accreditation.transaction.get_color}}">{% if row.get_worker_transaction_accreditation and row.get_worker_transaction_accreditation.transaction.get_license %} {{row.get_worker_transaction_accreditation.transaction.status.name}} {% endif %}</td>
            <td>{% if row.get_worker_transaction_accreditation.transaction.remarks and row.get_worker_transaction_accreditation.transaction.remarks != "None" %} {{row.get_worker_transaction_accreditation.transaction.remarks}} {%endif %}</td>
         </tr>
         {% endfor %}
      </tbody>
   </table>
</div>
{% elif action == 'pmc_view' %}
{% endif %}