{% load tags %}
{% if acronym == 'ps' %}
<script>
   $('#ps_datatable').DataTable();
   $('table.ps_datatable tbody').on('click', 'tr', function() {
     const table = $('table.ps_datatable').DataTable();
     let data = table.row(this).data()
     $('#viewRecordModal').modal('show');
     $('#viewRecordModalContent').empty();
     $('#viewRecordModalContent').load(`/dashboard/view_record/ps/view/${data[0]}`);
   });

   $("#viewRecordModal").on("hide.bs.modal", function (e) {
        $("#province").select2("destroy");
        $("#citymun").select2("destroy");
        $("#barangay").select2("destroy");
    });
</script>
<div class="table-responsive">
   <table class="table table-bordered table-sm ps_datatable" style="width:100%" id="ps_datatable">
      <thead>
         <tr class="text-center">
            <th>No.</th>
            <th>Agency Name</th>
            <th>Date Received of Complete Documents</th>
            <th>Address</th>
            <th>Duration</th>
            <th>Area of Coverage</th>
            <th>Purpose</th>
            <th>Methodology</th>
            <th>Effectivity Date</th>
            <th>Expiration Date</th>
            <th>Authority No</th>
            <th>Assessed by</th>
         </tr>
      </thead>
      <tbody>
         {% for row in data %}
         <tr class="text-center">
            <td>{{row.id}}</td>
            <td>{{row.name}}</td>
            <td>{% if row.get_org_transaction_accreditation %} {{row.get_org_transaction_accreditation.transaction.date_complete_docs}} {% endif %}</td>
            <td>{{row.get_address}}</td>
            <td>{% if row.get_org_transaction_accreditation and row.get_org_transaction_accreditation.transaction.get_license %} {{row.get_org_transaction_accreditation.transaction.get_license.validity}} months {% endif %}</td>
            <td>{% get_basic_details_by_name 'Area of Coverage' row.org_type_id row.id %}</td>
            <td>{% get_basic_details_by_name 'Purpose' row.org_type_id row.id %}</td>
            <td>{% get_basic_details_by_name 'Methodology' row.org_type_id row.id %}</td>
            <td class="bg-{{row.get_org_transaction_accreditation.transaction.get_color}}">{% if row.get_org_transaction_accreditation and row.get_org_transaction_accreditation.transaction.get_license %} {{row.get_org_transaction_accreditation.transaction.get_license.date_issued}} {% endif %}</td>
            <td class="bg-{{row.get_org_transaction_accreditation.transaction.get_color}}">{% if row.get_org_transaction_accreditation and row.get_org_transaction_accreditation.transaction.get_license %} {{row.get_org_transaction_accreditation.transaction.get_license.date_expired}} {% endif %}</td>
            <td class="bg-{{row.get_org_transaction_accreditation.transaction.get_color}}">{% if row.get_org_transaction_accreditation and row.get_org_transaction_accreditation.transaction.get_license %} {{row.get_org_transaction_accreditation.transaction.get_license.number}} {% endif %}</td>
            <td>{% if row.get_org_transaction_accreditation.transaction.assessed_by and row.get_org_transaction_accreditation.transaction.assessed_by != "None" %} {{row.get_org_transaction_accreditation.transaction.assessed_by}} {%endif %}</td>
         </tr>
         {% endfor %}
      </tbody>
   </table>
</div>
{% elif action == 'ps_view' %}
{% endif %}